/* .slick-dots-rooms {
  display: flex !important;
  width: 100px;
} */
.slider-container {
  width: 500px;
}

.slider-container img {
  border-radius: 7px;
}
.room-dots {
  top: 10px;
  position: relative;
}

.room-dots > li {
  width: 5rem;
  filter: grayscale(10);
  transition: filter 0.2s;
}
.slick-active {
  filter: grayscale(0) !important;
}
